<main class="container ">

      <h2>Post a room:</h2>
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
          Room Form
        </button>
        <form class="dropdown-menu p-4">
          <div class="mb-3">
            <label for="exampleDropdownFormEmail2" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" placeholder="123 Main St. Fresno, CA">
          </div>
          <div class="mb-3">
            <label for="exampleDropdownFormPassword2" class="form-label">Description:</label>
            <br>
            <textarea id="description" placeholder="Ex:1 bedroom available in a 3 bedroom house..." ></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleDropdownFormEmail2" class="form-label">Minimum Credit Score:</label>
            <input type="number" class="form-control" id="creditScore" placeholder="700">
          </div>
          <div class="mb-3">
            <label for="exampleDropdownFormEmail2" class="form-label">Monthly Rent: </label>
            <input type="number" class="form-control" id="rent" placeholder="$500">
          </div>
          <div class="mb-3">
            <label for="exampleDropdownFormEmail2" class="form-label">Is Smoking allowed?</label>
            <select id="smoking" class="form-select" aria-label="Default select example">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleDropdownFormEmail2" class="form-label">Prefered Gender:</label>
            <select id="gender" class="form-select" aria-label="Default select example">
              <option value="none">No Preference/option>
              <option value="female">Female</option>
              <option value="male">Male</option>
            </select>
          </div>

          <button type="button" id="roomBTN" class="btn btn-primary">Post</button>
        </form>
      </div>
      <br>
      <br>

      <h2>Fill out a roommate form: </h2>
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
          Bio Form
        </button>
        <form class="dropdown-menu p-4">
          <div class="mb-3">
            <label for="exampleDropdownFormEmail2" class="form-label">Bio:</label>
            <br>
            <textarea id="bio" placeholder="Ex:1 bedroom available in a 3 bedroom house..." ></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleDropdownFormPassword2" class="form-label">Your Monthly Rent Budget: </label>
            <input type="number" class="form-control" id="exampleDropdownFormPassword2" placeholder="500">
          </div>
          <div class="mb-3">
            <label for="exampleDropdownFormEmail2" class="form-label">Prefered Gender:</label>
            <select id="gender" class="form-select" aria-label="Default select example">
              <option value="none">No Preference/option>
              <option value="female">Female</option>
              <option value="male">Male</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleDropdownFormEmail2" class="form-label">Tolerate Smoking?</label>
            <select id="tolerateSmoking" class="form-select" aria-label="Default select example">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>

          <button type="button" class="btn btn-primary">Post</button>
        </form>
      </div>
      </main>