<main class="container-fluid ">
        <div class="row"> 
            <h2 class="col-12 ">Welcome to Find-A-Roomie!</h2>
            <p>If you're looking for a roommate or want to post a room in the Fresno county theres no better place to do so!</p>

        </div>
    </main>